body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    
}

.container
{
    width: 300px;
    height: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.container h2
{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

input
{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.container button
{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}